.col-container{
    height:200px;
    width:300px;


}
button{
    border:none;
    background:none;
    outline:none;
    font-weight: 700;
    color:white;
}
.win{
    background-color:darkseagreen;

}
.anim{
    transition: all 0.5s;
}
.wrong{
    -webkit-box-shadow: 0px 0px 32px 4px rgba(255,0,0,1);
    -moz-box-shadow: 0px 0px 32px 4px rgba(255,0,0,1);
    box-shadow: 0px 0px 32px 4px rgba(255,0,0,1);
}
.currentSelection{
    -webkit-box-shadow: 0px 0px 38px 1px rgba(255,255,0,1);
    -moz-box-shadow: 0px 0px 38px 1px rgba(255,255,0,1);
    box-shadow: 0px 0px 38px 1px rgba(255,255,0,1);
}
#btnReset:hover,#btnEasy:hover, #btnHard:hover, .selected{
    background: rgba(110,231,140,0.20);
}
